#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    background: none !important;
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
    pointer-events: none;
    overflow: visible;
}

#connectionoverlay {
    visibility: hidden;
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

#connectionoverlay.show {
    visibility: visible;
    display: block;
}

#connectionoverlay.hide {
    visibility: hidden;
}
/* toastercrap (I should just use bootstrap) */

#toaster {
    visibility: hidden;
    min-width: 250px;
    margin-left: 0px;
    background-color: #2283fb;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 30px;
    top: 50px;
    font-size: 17px;
}

#toaster.show {
    visibility: visible;
    /* -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; */
    /* doubled the animation time */
    animation: fadein 1s, fadeout 1s 5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 50px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 50px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 50px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 50px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}
 #toaster.hide {
    visibility: hidden;
} 

.card {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
}